<!-- https://github.com/oculi-s/wmcounsel -->
<!DOCTYPE HTML>
<html lang="ko">

<head>
    <title>원주의과대학 학생상담코칭센터</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@latest/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/common/__img/favicon.ico">
    <link rel="stylesheet" href="/__source/__css/main.css">
    <link rel="stylesheet" href="/__source/__css/__table.css">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
</head>

<body>
    <%- include(d.header) %>
    <!--<div class="p-hide"></div>-->
    <section>
        <div class="m-img m-h"></div>
        <div class="m-2 bg">
            <%- include(d.aside) %>
            <article class="m-22">
                <div>
                    <h2>검사내역</h2>
                    <%- include(d.portal) %>
                </div>
                <div>
                    <% let depress = Object.entries(user).filter(([k, v])=>v.type=='depress'); %>
                    <% let anxiety = Object.entries(user).filter(([k, v])=>v.type=='anxiety'); %>
                    <% let stress = Object.entries(user).filter(([k, v])=>v.type=='stress'); %>
                    <h4>우울</h4>
                    <p>15점을 초과하는 경우 상담을 권합니다.</p>
                    <%- include(ba.d.result, {data:depress}) %>
                    <h4>불안</h4>
                    <p>30점을 초과하는 경우 상담을 권합니다.</p>
                    <%- include(ba.d.result, {data:anxiety}) %>
                    <h4>스트레스</h4>
                    <%- include(ba.d.result, {data:stress}) %>
                </div>
            </article>
        </div>
    </section>
    <%- include(d.footer) %>
</body>

</html>