<!-- https://github.com/oculi-s/wmcounsel -->
<!DOCTYPE HTML>
<html lang="ko">

<head>
    <title>원주의과대학 학생상담코칭센터</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@latest/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/__source/__img/favicon.ico">
    <link rel="stylesheet" href="/__source/__css/main.css">
    <link rel="stylesheet" href="/__source/__css/__aside.css">
    <link rel="stylesheet" href="/__source/__css/__header.css">
    <link rel="stylesheet" href="/__source/__css/__footer.css">
    <link rel="stylesheet" href="/__source/__css/__table.css">
    <link rel="stylesheet" href="/__source/__css/__calendar.css">
    <link rel="stylesheet" href="/__source/__css/apply.css">
    <script type="module" src="/__source/__js/__header.js"></script>
    <script type="module" src="/__source/__js/__aside.js"></script>
    <% if (auth) { %>
    <script type="module" src="/__source/__js/meta.js"></script>
    <% } else { %>
    <script>
        function noauth() {
            alert('로그인 정보가 없습니다.\n로그인 후 신청해주세요.');
            logIn();
        }
    </script>
    <% } %>
</head>

<body>
    <%- include(d.header) %>
    <section>
        <div class="m-img m-h"></div>
        <div class="m-2 bg">
            <%- include(d.aside) %>
            <article class="m-22">
                <div>
                    <h2>상담신청</h2>
                    <%- include(d.portal) %>
                </div>
                <span class="box">
                    <p>안녕하세요. 학생상담코칭센터입니다.</p>
                    <% if (!auth){ %>
                    <p><a href='javascript:logIn()' class="u">연세 메일로 로그인</a> 후 상담신청이 가능합니다.</p>
                    <% } %>
                    <p>홈페이지 신청 외에도 <br class="p-h">센터 메일과 카카오 채널 추가 후 <br class="p-h">메시지를 남기는 방법도 있으니</p>
                    <p>상담이 필요할 경우 <br class="p-h">편리한 방법으로 언제든지 연락 바랍니다.</p>
                    <br>
                    <p>센터 메일: <a class="u" href=mailto:wmcc@yonsei.ac.kr>wmcc@yonsei.ac.kr</a></p>
                    <p>카카오 채널 ID : <a class="u" href=https://pf.kakao.com/_GPIss>ywmcc</a></p>
                    <p>전화 문의: 033)741-0246</p>
                    <p>센터 장소: 의학관 310호</p>
                </span>
                <article class="a0">
                    <h4>개인정보 수집 제공 동의</h4>
                    <p>개인정보의 항목은 『개인정보보호법』에 의거, 철저하게 보호되며 학생 상담과 관련된 이용 목적 이외에는 사용되지 않음을 알려 드립니다.</p>
                    <span class="box">
                        <% if (auth) { %>
                        <label><input type="checkbox" name="b4">개인정보 수집·이용에 동의합니다.</label>
                        <% } else { %>
                        <label><input type="checkbox" onchange="noauth()">개인정보 수집·이용에 동의합니다.</label>
                        <% } %>
                    </span>
                </article>
                <% if (auth) { %>
                <article class="a1 d">
                    <h4>개인정보 입력</h4>
                    <table>
                        <colgroup>
                            <col width="30%">
                            <col width="*">
                        </colgroup>
                        <tbody>
                            <% for (let d in meta.radio) { %>
                            <tr class=<%- d %>>
                                <% let c = meta.radio[d]; %>
                                <th><%- c.name %></th>
                                <% if (c.span == 1) { %>
                                <% for (let e in c.data) { %>
                                <td>
                                    <% for (let f in c.data[e]) { %>
                                    <span>
                                        <input type="radio" name=<%- d %> value=<%- f %> id=<%- `${d}_${f}` %> <%- user[d]==f?'checked':'' %>>
                                        <label for=<%- `${d}_${f}` %>><%- c.data[e][f] %></label>
                                    </span>
                                    <% } %>
                                </td>
                                <% } %>
                                <% } else { %>
                                <td colspan=<%- c.span %>>
                                    <% for (let e in c.data) { %>
                                    <span>
                                        <input type="radio" name=<%- d %> value=<%- e %> id=<%- `${d}_${e}` %> <%- user[d]==e?'checked':'' %>>
                                        <label for=<%- `${d}_${e}` %>><%- c.data[e] %></label>
                                    </span>
                                    <% } %>
                                </td>
                                <% } %>
                            </tr>
                            <% } %>
                            <% for (let d in meta.text) { %>
                            <tr>
                                <% let c = meta.text[d]; %>
                                <th><%- c.name %></th>
                                <td colspan=<%-c.span%>>
                                    <input name=<%- d %> type=<%- c.type %> placeholder="<%- c.placeholder %>" maxlength="<%-c.maxlength%>" <%- user[d]?`value=${user[d]}`:'' %>>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                    <button class="btn">다음</button>
                </article>
                <% } %>
            </article>
        </div>
    </section>
    <%- include(d.footer) %>
</body>

</html>